<div data-role="page" id="dashboard" data-transition="slide">
	
	<div data-role="header" data-position="fixed" data-theme="b">
		<a href="#navpanel" class="ui-btn ui-btn-custom-menu ui-icon-bars ui-btn-icon-left ui-nodisc-icon"></a>
		<div id="blur_top" class="ui-content"></div>
	</div>

	<div id="dash_content" data-role="main" class="ui-content" data-theme="a">
        <div id="zone1" class="ui-content ui-custom-zone"></div>
        <div id="zone2" class="ui-content ui-custom-zone"></div>
        <div id="zone3" class="ui-content ui-custom-zone"></div>
        <div id="zone4" class="ui-content ui-custom-zone"></div>
    </div>

</div>